body {
background-color: rgb(0, 0, 0);
height:100%;
padding:0px;
margin:0px;
}


canvas {
    position:absolute;
    padding: 0;
    margin: auto;
    display: block;
}


.win {
    background-color: rgb(0, 0, 0);
}